<div class="grid">
  <div class="grid-row grid-row-lg">
    <!-- Start looping through all the eateries -->

    <% for eatery in @eateries do %>
      <div class="cell">


        <h1><%= eatery.name %></h1>

        <h2>Burgers:</h2>
          <!-- Start of the second loop: through the eatery burgers-->
          <% for burger in eatery.burgers do %>

            <p><%= burger.name  %></p>

          <% end %>

          <!-- Start of the third loop: though each burger deals -->
          <h2>Deals:</h2>
          <% for deal in eatery.deals do %>

            <p><i><%= deal.name %></i></p>

          <% end %>


        <form method="get" action="/eateries/<%= eatery.id %>/burgers">
            <button type="submit">Burgers</button>
        </form>

        <form method="get" action="/eateries/<%= eatery.id %>/deals">
            <button type="submit">Deals</button>
        </form>


      </div>


    <% end  %>
    <!-- End of eateries loop -->
</div>
</div>
