<h1>This site belongs to GET /eateries index.erb</h1>


<!-- Start looping through all the eateries -->
<% for eatery in @eateries do %>

  <h2>Eatery name: <%= eatery.name %></h2>

  <h3>Burgers:</h3>
  <!-- Start of the second loop: through the eatery burgers-->
  <% for burger in eatery.burgers do %>

    <p><%= burger.name  %></p>

    <h4>Deals this burger is included in:</h4>

    <!-- Start of the third loop: though each burger deals -->
    <% for deal in burger.deals do %>

      <p><%= deal.name %></p>

    <% end %>


  <% end %>
  <!-- End of burgers loop -->

  <form method="get" action="/earies/<%= eatery.id %>/burgers">
      <button type="submit">Burgers</button>
  </form>

  <form method="get" action="/earies/<%= eatery.id %>/deals">
      <button type="submit">Deals</button>
  </form>

<% end  %>
<!-- End of eateries loop -->
