<!-- <div class="grid"> -->
  <div class="grid-row">
    <!-- Start looping through all the eateries -->

    <% for eatery in @eateries do %>
      <div class="cell">


          <img src="<%= eatery.logo_url %>"/>
          <div class="burger_name"><h2><%=  eatery.name if eatery.logo_url == ""  %></h2></div>

        <h2>
          <a class= "main_link" href="/eateries/<%= eatery.id %>/burgers">Burgers</a>
        </h2>
          <!-- Start of the second loop: through the eatery burgers-->
          <% for burger in eatery.burgers do %>

            <p>
              <div class="burger_name">
                <%= burger.name  %>
              </div>
            </p>

          <% end %>

          <!-- Start of the third loop: though each burger deals -->
          <h2>
            <a class="main_link" href="/eateries/<%= eatery.id %>/deals">Deals</a>
          </h2>
          <% for deal in eatery.deals do %>

          <p>
            <div class= "deal_name">
              <%= deal.name %>
            </div>
          </p>

          <% end %>


      </div>


    <% end  %>
    <!-- End of eateries loop -->
  </div>
<!-- </div> -->
