<h1>
  <img class= "centered_image" src="<%= @eatery.logo_url %>" align="middle"/>
  <form action="/eateries/<%= @eatery.id %>/deals/new" method="get">
    <button type="submit">Add more deals</button>
  </form>
  <form action="/eateries" method="get">
    <button type="submit">Go back</button>
  </form>

</h1>

<div class="grid">
  <div class ="grid-row"
    <!-- Start of first loop: burgers -->
    <% for deal in @deals do %>
    <div class="cell">

        <p>
          <div class="main_deal_name separator">
            <%= deal.name  %>
          </div>
        </p>

        <p>
          <div class="deal_name">
            <%= deal.day_of_the_week %>
          </div>
        </p>

        <!-- Start of the second loop: through each burger deals -->
        <% for burger in deal.burgers do %>

          <p>
            <div class="burger_name">
                <%= burger.name %> <span class="old_price"> £<%= burger.price %> </span> <span class="discounted_price">  &nbsp £<%= burger.apply_deal(deal.id) %></span>
            </div>


          </p>

        <% end %>
        <!-- End of deals loop -->




        <div class="two_bt_container">
          <div>
            <form action="/eateries/<%= deal.eatery.id %>/deals/<%= deal.id %>/edit" method="get">
              <button type="submit">Edit deal</button>
            </form>
          </div>
          <div>
            <form action="/eateries/<%= deal.eatery.id %>/deals/<%= deal.id %>/delete" method="post">
              <button type="submit">Remove deal</button>
            </form>
          </div>
          <div>
            <form method="get" action="/deals/<%= deal.id %>/burger_deals/new">
                <button type="submit">Add burgers</button>
            </form>
          </div>
          <div>
            <form method="get" action="/deals/<%= deal.id %>" method="post">
                <button type="submit">Remove burgers</button>
            </form>
          </div>
        </div>


    </div>
      <% end %>

    <!-- End of burgers loop -->
  </div>
</div>
