<form action="/deals/<%= @deal.id %>/burger_deals" method="post">
  <p>
    <label for="eatery-name">Eatery:</label>
    <% puts @eatery.name %>
    <input type="text" id="eatery-name" name="eatery_name"
    value="<%= @eatery.name %>"
    readonly>
  </p>

  <p>
  <label for="deal-name">Deal name:</label>
  <input type="text" name="deal_name" id="deal-name"
  value="<%= @deal.name %>"
  readonly>
  </p>

  <p>
    <label for="burger-select">Burger:</label>
    <select name="burger_id" id="burger-select">

    <% for burger in @eatery.burgers do %>
      <option value= <%=burger.id  %>><%= burger.name %></option>
    <% end %>
    </select>
  </p>

  <p><input type='submit' value="Add burger to deal!"></p>
</form>
