<h1>
  <img class= "centered_image" src="<%= @eatery.logo_url %>" align="middle"/>
  <form action="/eateries/<%= @eatery.id %>/burgers/new" method="get">
    <button type="submit">Add more burgers</button>
  </form>
  <form action="/eateries" method="get">
    <button type="submit">Go back</button>
  </form>

</h1>


<div class="grid">
  <div class="grid-row grid-row-md"
    <!-- Start of first loop: burgers -->
    <% for burger in @burgers do %>
    <div class="cell">
      <div class="burger_name">
      <h2><%= burger.name  %> <div class="price">£<%= burger.price %></div></h2>
      </div>

      <!-- Start of the second loop: through each burger deals -->
      <% for deal in burger.deals do %>

        <p>
          <div class="deal_name">
          <%= deal.name %>
          </div>
          <div class="deal_name">
            <%= deal.pct_off %>% off
            <div
              class="discounted_price">£<%= burger.apply_deal(deal.id) %>
            </div>
          </div>
        </p>

      <% end %>
      <!-- End of deals loop -->
    </div>
<% end %>
<!-- End of burgers loop -->
</div>
</div>
